/* Styles */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  body: 0;
  padding: 0;
}

.CodeMirror {
  min-width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}

.CodeMirror .is-highlighted {
  background-color: #555555;
}

.buttons {
  padding: 1em;
  border-bottom: 1px solid #d0d0d0;
}
button { font-size: 15px; }

.row {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}

.output, .generated {
  padding: 1em;
  overflow: auto;
  box-sizing: border-box;
}

.generated {
  position: absolute;
  background: white;
  overflow: auto;
  font-family: monospace;

  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  z-index: 100;
}

.output {
  flex-basis: 200px;
}

.output iframe {
  width: 100%;
  border: 1px solid .ccc;
}

.timeline {
  flex-grow: 1;
  border: 1px solid #d0d0d0;
  flex-basis: 100px;
  padding: 4px 0;
}

.output, .generated {
  flex-grow: 1;
  border-right: 1px solid #d0d0d0;
}

.actual-output,
.generated,
.timeline {
  white-space: pre;
}

.editor-area {
  display: flex;
}

.editor {
  flex: 0;
  flex-basis: 300px;
}

.editor-wrapper {
  width: 100%;
}

h4 {
  margin: 0;
}

.timeline,
.runlog {
  font-family: monospace;
}

.buttons {
  overflow: hidden;
}

.shared {
  float: right;
}

.debugger {
  border: 1px solid #d0d0d0;
}

.timeline {
  display: flex;
}

.timeline-column {
  width: 14px;
  border-left: 1px solid #ddd;
}

.timeline-lineNumbers {
  width: 20px;
  text-align: right;
  padding-right: 2px;
}

.timeline-row {
  height: 15px;
  border-top: 1px solid #ddd;
}

.runlog-item.is-focused,
.timeline-row.is-focused,
li.is-focused {
  background-color: #cfc;
  border-color: #aca;
}

.timeline-row.is-active {
  background-color: #ccf;
}
